<!DOCTYPE html>
<html>
<head><title>Dashboard</title></head>
<body>
  <h1>Welcome, <%= user.name%>! </h1> <br>
  <p>Your login is successful.</p>
  <a href="/logout">Logout</a>
  <p><a href="/admin">Admin Panel</a></p>
</body>
</html>
